.issue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 106px;
    border-radius: 5px;
    // max-width: 311px;
    width: 311px;
    background: white;
    background-image: url('../../../public/img/bg-item.jpg');
    background-size: 100% 100%;
    background-position: center center;
    margin-top: 15px;
    text-align: left;
    overflow: hidden;
}

.title {
    font-weight: 700;
    margin-bottom: 10px;
}

.details {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 400px;
    color: #7d7d7d;
}

.bottom {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400px;
    color: #7d7d7d;
}

.divider {
    margin: 0 10px;
}